@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .div {
        @apply flex flex-col gap-2 mt-8;
    }
    .titulo {
        @apply text-white font-bold text-lg;
    }
    .texto {
        @apply text-cinza text-sm;
    }
    .bg-image {
        @apply bg-image-bg bg-no-repeat bg-right-top;
    }
}
